.game_container {
    width:95%;
    margin-left:0.5em;
    float:left;
    margin-top:1.5em;
    border-bottom: 1px solid lightgrey;
}

div.cb-col {
    padding-right:1em;
    float:left;
    with:auto;
}

div.field-group {
    width:95%;
    float:left;
    padding:0.5em;
    border-bottom:1px solid lightgrey;
}

div.input-shell {
    padding:0.5em;
}

div#exampletable {
    width:100%;
    float:left;
}
div#exampletable > table {
    width:100%;
    float:left;
}

div.gameinfo {
    width:100%;
}

div.gameinfo > div {
    float:left;
    width:33%;
}

div.expressions {
    float:left;
    width:50;
}

div.specs {
    float:left;
    border:2px solid #ccc;
    padding:1%;
    margin:1%;
}

div.specs h3 {
    width:100%;
    float:left;
}
div.spec {
    float:left;
    width:50%;
}

div.spec h4 {
    width:100%;
    float:left;
}
div.expressions table {
    float:right;
}
div.specs table.striped {
    float:left;
    width:100%;
}
div.section {
    float:left;
    width:100%;
}

div.section button {
    float:right;
}

table.padded {
    width:100%;
}

table.padded th,td {
    padding:0.5em;
}

div.anyof {
    font-family:monospace;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    float:left;
    background:ivory;
    padding:0.5em;
    width:15%;
    margin-right:1em;
}

div.sourcegroup {
}

div.targetgroup {
}

div.group {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    float:left;
    background:lightblue;
    padding:0.5em;
    margin-right:1em;
}

.new {
    margin-top:1em;
    margin-left:1em;
    float:left;
}

button.confirm_delete {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:darkgrey;
    padding:3px;
    background:red;
}

div.editgame {
    background:#e9ecae;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:solid #aee6ec 5px;
    padding:3px;
    display:none;
    z-index:2;
    position:absolute;
    left:10%;
    top:40%;
    width:80%;
}
