.game_container {
    width:95%;
    margin-left:0.5em;
    float:left;
    margin-top:1.5em;
    border-bottom: 1px solid lightgrey;
}

div.cb-col {
    padding-right:1em;
    float:left;
    with:auto;
}

div.field-group {
    width:95%;
    float:left;
    padding:0.5em;
    border-bottom:1px solid lightgrey;
}

div.input-shell {
    padding:0.5em;
}

div#exampletable {
    width:100%;
    float:left;
}
div#exampletable > table {
    width:100%;
    float:left;
}

div.gameinfo {
    width:100%;
}

div.gameinfo > div {
    float:left;
    width:33%;
}

div.expressions {
    float:left;
    width:50;
}

div.specs {
    float:left;
    width:15%;
}
div.spec h4 {
    width:100%;
    float:left;
}
div.expressions table {
    float:right;
}
