span.atom {
}

div.lev {
    font-family: monospace;
}

div.map {
    width:auto;
    float:left;
}

table.map {
    margin:0.25em;
    border-collapse: collapse;
    border: 2px solid lightblue;
}

table.map th {
    background: lightblue;
    padding: 2px;
}

div.package {
    border: 2px solid lightblue;
    float:left;
    width:auto;
    margin:2px;
}

div.unknown {
    background: #FF7F50;
    padding:2px;
}

tr.comment td {
    font-style:italic;
}