span.atom {
}

div.lev {
    font-family: monospace;
}

div.map {
    width:auto;
    float:left;
}

table.map {
    margin:0.25em;
    border-collapse: collapse;
}

table.map th {
    padding: 2px;
}

table.map td {
    /* vertical-align:middle;*/
}

div.package {
    border: 2px dashed black;
    float:left;
    width:auto;
    margin:2px;
}

div.unknown {
    background: #FF7F50;
    padding:2px;
}

tr.comment td {
    font-style:italic;
}

div.legend h2 {
    float:left;
    width:auto;
    padding:2px;
}

div.legend {
    font-size:small;
    width:95%;
    float:left;
    padding:2px;
}

div.legend div.package-toc {
    margin-bottom:2px;
    float:right;
    width:95%;
}

div.legend h3 {
    width:80%;
    text-align:right;
    float:right;
}

table.generate th {
    vertical-align:top;
}

table.generate div.result {
    border:1px dashed black;
    padding:1%;
    float:left;
    margin-bottom:1%;
    margin-right:1%;
}

div.ref {
    vertical-align:middle;
    float:left;
    width:auto;
    border:2px solid black;
    padding:2px;
    margin:2px;
}
