div.atom {
    padding: 2px;
}

table.map {
    margin:0.25em;
    border-collapse: collapse;
    border: 2px solid lightblue;
}

table.map th {
    background: lightblue;
    padding: 2px;
}

div.package {
    border: 2px solid lightblue;
    float:left;
    width:auto;
    margin:2px;
}