#game {
    height:500px;
    width:100%;
    border:0px dashed green;
    margin-top:1em;
    background: #ccc;
    float:left;
}

#svgarena {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    z-index:3;
    left:0;
    top:0;
    border:0px dashed blue;
}

#gameform {
    position:relative;
    padding:1em;
    float:left;
    left:33%;
    width:auto;
    border:0px dashed green;
}



#rainforest {
    z-index:0;
    border:0px dashed blue;
    height:100%;
    width:100%;
    left:0;
    top:0;
    display:block;
    position:relative;
}


#wordbar {
    display:none;
    position: absolute;
    width:100%;
    z-index:2;
    height:1em%;
    left:0px;
    top:0px;
    float:left;
    border-top:2px solid lightgreen;
    background:lightskyblue;
}

#wordbar div {
    width:5em;
    float:left;
    position:absolute;
    top:0;
}

#q1 {
    left:10%;
}

#q2 {
    left:20%;
}

#q3 {
    left:30%;
}

#sky {
    position: absolute;
    width:100%;
    z-index:1;
    height:60%;
    left:0px;
    top:0px;
    float:left;
    border-top:2px solid lightgreen;
    background:lightskyblue;
}

#ground {
    position: absolute;
    width:100%;
    z-index:2;
    height:40%;
    left:0px;
    top:60%;
    float:left;
    border-top:2px solid lightgreen;
    background:lightgreen;
}

#sky .cloudq {
    position:absolute;
    color:black;
    font-size:150%;
    width:10em;
}

#sky .motion {
    -webkit-text-stroke: 1px lightgrey;
    text-shadow:
    -1px -1px 0 lightgrey,
    1px -1px 0 lightgrey,
    -1px 1px 0 lightgrey,
    1px 1px 0 lightgrey;
    position:absolute;
    color:azure;
}

.x1 {
    font-size:100px;
}

.x2 {
    font-size:150px;
}

.x3 {
    font-size:205px;
}

.x4 {
    font-size:250px;
}

#sky .partly-stormy {
    color: darkgrey;
   -webkit-text-stroke: 1px darkgrey;
   text-shadow:
   -1px -1px 0 darkgrey,  
   1px -1px 0 darkgrey,
   -1px 1px 0 darkgrey,
   1px 1px 0 darkgrey;
}

#sky .stormy {
    color: lightgrey;
   -webkit-text-stroke: 1px darkgrey;
   text-shadow:
   -1px -1px 0 darkgrey,  
   1px -1px 0 darkgrey,
   -1px 1px 0 darkgrey,
   1px 1px 0 darkgrey;
}

#game .fa-tree {
    z-index:3;
    position:absolute;
    color: darkgreen;
}

#status {
    float:right;
    width:auto;
    border:0px solid #ccd;
}

text {
    display:none;
    font-family:sans-serif;
    font-size:20px;
    transform-origin:0,0,0;
    text-anchor:middle;
}    

circle {
    stroke-width:2;
    stroke:darkgrey;
    fill: lightblue;
}

.learning {
    border:2px solid blue;
    width:99%;
    margin-bottom:1em;
    padding-left:0.5%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    float:left;
}

.learning div {
    text-align:center;
    float:left;
    width:auto;
    border:1.5px solid red;
    width:2em;
    margin-left:0.5em;
    padding:0.1%;
}

#gameform {
    font-size:150%;
}

.cloud_answer {
    display:block;
    width:90%;
    font-size:50%;
}

span.lca,span.rca {
}

span.question {
    font-size:85%;
    color:lightgrey;
}


span.answer {
    font-size:100%;
    color:black;
}
