#game {
    height:500px;
    width:100%;
    border:0px dashed green;
    margin-top:1em;
    background: #ccc;
    float:left;
}

#svgarena {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    z-index:3;
    left:0;
    top:0;
    border:0px dashed blue;
}

#game .fa-6x {
    font-size:150px;
}

#game i,div {
}

#rainforest {
    z-index:0;
    border:0px dashed blue;
    height:100%;
    width:100%;
    left:0;
    top:0;
    display:block;
    position:relative;
}

#sky {
    position: absolute;
    width:100%;
    z-index:1;
    height:60%;
    left:0px;
    top:0px;
    float:left;
    border-top:2px solid lightgreen;
    background:lightskyblue;
}

#ground {
    position: absolute;
    width:100%;
    z-index:2;
    height:40%;
    left:0px;
    top:60%;
    float:left;
    border-top:2px solid lightgreen;
    background:lightgreen;
}

#sky .fa-cloud {
    position:absolute;
    color: white;
}

#sky .medium-cloud {
    font-size:100px;
}

#sky .big-cloud {
    font-size:205px;
}

#sky .storm-cloud {
    color: lightgrey;
   -webkit-text-stroke: 1px darkgrey;
   text-shadow:
   -1px -1px 0 darkgrey,  
   1px -1px 0 darkgrey,
   -1px 1px 0 darkgrey,
   1px 1px 0 darkgrey;
}

#game .fa-tree {
    z-index:3;
    position:absolute;
    color: darkgreen;
}

#status {
    float:right;
    width:auto;
    border:0px solid #ccd;
}

text {
    display:none;
    font-family:sans-serif;
    font-size:20px;
    transform-origin:0,0,0;
    text-anchor:middle;
}    

circle {
    stroke-width:2;
    stroke:black;
    fill: lightskyblue;
}

.bear {
    fill:lightblue;
    stroke:blue;
}

.cat {
    fill:lightblue;
    stroke:blue;
}

.dog {
    fill:lightblue;
    stroke:blue;
}

.cow {
    fill:lightblue;
    stroke:blue;
}

.gecko {
    fill:lightblue;
    stroke:blue;
}

.otter {
    fill:lightblue;
    stroke:blue;
}

.snake {
    fill:lightblue;
    stroke:blue;
}

.wolf {
    fill:lightblue;
    stroke:blue;
}

.learning {
    border:2px solid blue;
    width:99%;
    margin-bottom:1em;
    padding-left:0.5%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    float:left;
}

.learning div {
    text-align:center;
    float:left;
    width:auto;
    border:1.5px solid red;
    width:2em;
    margin-left:0.5em;
    padding:0.1%;
}
