/* put the following here: width,float,height.. */
body {
}

h1 {
    width:auto;
    float:left;
}

div#top {
    padding:0;
    margin:0;
    float:left;
    width:100%;
}

div.menubar {
    padding:0;
    margin:0;
    margin-bottom:0.5em;
    width:auto;
    float:left;
}

div.menubar div {
    float:left;
    width:auto;
}

div.major {
    float:left;
}

div.major h2 {
    padding:0.25em;
    margin:0;
    background: #caecae;
}

div#content {
    width:auto;
    border:0px dashed blue;
    float:left;
    padding:0;
    margin:0;
}

div.poweredbox {
    float:left;
    white-space:nowrap;
    text-align:center;
    display:block;
}

div.guess {
    width:70%;
}

div.question {
    display:block;
    width:55%;
    float:left;
}

div.history {
    float:right;
}

div.quiz {
    width:100%;
    float:left;
}

div.quiz-elem {
    float:left;
}

div.stats {
    left:0;
    top:70%;
}

div.stats table {
    float:left;width:80%;
}

div#controls {
    width:auto;
}

div#controls input.submit {
    float:right;
    width:50%;
}

div.welcome {
    float:right;
}

div.history {
    width:45%;
    right:0;
}

#ajax_quiz {
    float:left;
    width:90%;
}

#ajax_quiz input {
    margin:0.5em;
}

table.quiz {
    margin-left:0.25em;
    width:70%;
}

table.quiz td.en {
    width: 20em;
}


#quiz_table {
}

#quiz_table td.corr {
    padding-bottom:0.5em;
}

/* 'incorrect' being used somewhere else (TODO fix name collision). */
#quiz_table td.incorr {
    padding-bottom:1em;
}

#quiz_table {
    border-collapse:collapse;
    width:95%;
    margin-top:0.5em;
}

#quiz_table tbody {
    width:100%;
}

#quiz_table tr {
    width:100%;
}

#quiz_container {
    float:left;
    margin-bottom:1em;
}

#controls_container {
    float:left;
}

/* search */

div#search-ui {
    float:left;
}

div#searchbar {
    width:100%;
    margin:0.5em;
    float:left;
}

div#searchbar button {
    margin-left:1em;
}

div#searchresults {
    width:100%;
    padding:0.5em;
    float:left;
}

table.question td.question_text {
    width:15em;
}