/* put the following here: width,float,height.. */
body {
}

h1 {
    width:auto;
    float:left;
}

div.menubar {
    width:auto;
    float:right;
}

div.menubar div {
    float:left;
    width:auto;
}

div.major {
    float:right;
}

div#content {
    width:100%;
    border:0px dashed blue;
    float:left;
}

div.poweredbox {
    float:left;
    white-space:nowrap;
    left:0%;
    top:90%;
    width:30%;
    text-align:center;
    display:block;
}

div.guess {
    width:70%;
}

div.question {
    display:block;
    width:55%;
    float:left;
}

div.history {
    float:right;
}

div.quiz {
    width:100%;
    float:left;
}

div.quiz-elem {
    float:left;
}

div.stats {
    left:0;
    top:70%;
}

div.stats table {
    float:left;width:80%;
}

div#controls {
    width:100%;
}

div#controls input.submit {
    float:right;
    width:50%;
}

div.welcome {
    float:right;
}

div.history {
    width:45%;
    right:0;
}
