/* put the following here: width,float,height.. */
body {
}

h1 {
    width:auto;
    float:left;
}

div.menubar {
    width:auto;
    float:right;
}

div.menubar div {
    float:left;
    width:auto;
}

div.major {
    float:right;
}

div#content {
    width:100%;
    border:0px dashed blue;
    float:left;
}

div.poweredbox {
    float:left;
    white-space:nowrap;
    left:0%;
    top:90%;
    width:30%;
    text-align:center;
    display:block;
}

div.guess {
    width:70%;
}

div.question {
    display:block;
    width:55%;
    float:left;
}

div.history {
    float:right;
}

div.quiz {
    width:100%;
    float:left;
}

div.quiz-elem {
    float:left;
}

div.stats {
    left:0;
    top:70%;
}

div.stats table {
    float:left;width:80%;
}

div#controls {
    width:auto;
}

div#controls input.submit {
    float:right;
    width:50%;
}

div.welcome {
    float:right;
}

div.history {
    width:45%;
    right:0;
}

div#ajax_question {
    width:90%;
    float:left;
    margin:0.25em;
    margin-bottom: 1em;
}

div#ajax_question div {
    padding:0.5em;
    width:auto;
    float:left;
}

#ajax_quiz {
    float:left;
    width:90%;
}

#ajax_quiz input {
    margin:0.5em;
}

#quiz_table {
    margin-left:0.25em;
    width:90%;
}

#quiz_table td.corr {
    padding-bottom:1em;
}

/* 'incorrect' being used somewhere else (TODO fix name collision). */
#quiz_table td.incorr {
    padding-bottom:2em;
}

#quiz_table {
    border-collapse:collapse;
    width:100%;
}

#quiz_table tbody {
    width:100%;
}

#quiz_table tr {
    width:100%;
}

#quiz_table td {
    width:50em;
}

#quiz_table th {
    width:50em;
}

#quiz_container {
    float:left;
    margin-bottom:1em;
}

#controls_container {
    float:left;
}
