#generation div {
    float:left;
}

#currentsize {
    width:100%;
}

#vocabulary {
    float:left;
    width:50%;
}

#vocabulary div {
    margin:0.5em;
    padding:0.25em;
}

#inflections {
    float:right;
    width:50%;
}

verbs.table th {
    text-align:right;
    padding:0.25em;
    margin:.5em;
}
