#generation > div {
    float:left;
}

#currentsize {
    width:100%;
}

#vocabulary {
    float:left;
    width:50%;
}

#vocabulary > div {
    margin:0.5em;
    padding:0.25em;
}

#inflections {
    float:right;
    width:50%;
}

verbs.table th {
    text-align:right;
    padding:0.25em;
    margin:.5em;
}

#verbs {
    float:left;
    width:100%;
    border:0px dashed blue;
}
div.checkbox {
    float:left;
    width:50%;
}

div.lexeme {
    float:left;
    border:0px dashed green;
    padding-left:2em;
    margin:0;
    width:100%;
}

div.lexeme > div {
    float:left;
    border:0px dashed green;
    padding:0;
    margin:0;
}

div.lexeme div.example {
    border:0px solid blue;
    text-align:right;
}

div.gen_source {
    border:1px dashed green;
}
