body {
   font-family: sans-serif;
}

div.selected {
    background: #caecae;
}

div.major {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:4px solid #caecae;
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-bottom:2px;
}

div.quiz-elem {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:0;
    margin:0;
   
}

div.quiz-elem form {
    margin:2px;
}

h1 {
    width:auto;
    padding:0;
    margin:0.5em;
}

div.http h4 {
    padding:0;
    margin:0;
}

div.http a {
    padding:0.25em;
}

div.menubar {
    margin:1em;
    padding:0.5em;
}

div.menubar div {
    padding:3px;
    margin-right:1em;
}

div.poweredbox table {
    width:100%;
    text-align:center;
}

div.poweredbox td {
    border:1px solid #878ade;
    text-align:center;
}

div.guess {
    padding-left:1em;
}

div.guess h3 {
    padding:0.5em;
    margin:0;
    text-align:left;
    width:auto;
}

div.guess i {
    float:right;
    text-align:right;
    width:auto;
}

.debug {
    display:none;
}

div.debug {
    border:0px dashed green;
    margin:1px;
    padding:1px;
}

div.history h2 {
    padding:0.25em;
    margin:0;
    background: #caecae;
}

div.history td {
    padding:1px;
}

div.quiz-elem {
    padding-top:0;
    padding-bottom:1em;
    margin-top:0;
    margin-bottom:1em;
    border: 4px solid #caecae;
}

div.quiz-elem h2 {
    padding:0.25em;
    margin:0;
    background: #caecae;
}

div.quiz form {
    margin-left:2%;
}

div.quiz input.submit {
    padding:0.5em;
    margin-left:1.5em;
}

td.correct {
    background:lightgreen;
}

td.incorrect {
    background:red;
}

div.test {
    float:left;
    padding: 0.5em;
    margin-top:1em;
    margin-left:1em;
    min-width:30%;
}

div.stats {
    display:none;
}

table.fs {
    float:left;
    padding-right:1em;
    margin-right:1em;
    margin:3px;
    border: 2px solid lightgreen;
    border-collapse:collapse;
}

table.fs th {
    text-align:center;
    padding:2px;
    padding-right:0.25em;
    background: lightgreen;
}

table.fs td {
    padding-right:1em;
}

div.utterance {
    font-style:italic;
}

div.syntax {
    float:left;
    width:100%;
}

div.syntax table {
    float:left;
    width:100%;
}

div.syntax td {
    vertical-align:top;
}

table.fs th.fs {
    padding-right:0.5em;
    font-weight:normal;
    font-style:italic;
}

div.reqdata {
    display:none;
    height:15em;
    overflow:scroll;
    font-size:small;
    font-family:monospace;
    width:50%;
    border:2px solid blue;
    padding:3px;
    position: absolute;
    bottom:0;
    right:0;
}

div.reqdata table {
    width:95%;
    overflow:scroll;
}

div.reqdata th {
    text-align:right;
    border-bottom:1px dashed black;
}

div.reqdata td {
    width:10em;
    text-align:right;
    border-bottom:1px dashed black;
}

div.optiongroup {
    border:1px solid #caecae;
    padding:2px;
    margin:2px;
    float:left;
}

div.optiongroup h4 {
    margin:0;
    padding:0;
}

div.history table {
    width:95%;
    float:left;
}

table.matrix td {
    text-align:center;
}

table.matrix td.path {
    background: #008800;

}

table.matrix td.path {
    background: red;

}

table.matrix td.corrent {
    background: lightgreen;
}

span.insert {
    border-bottom: 8px solid red;
    text-decoration:line-through;
}

span.delete {
    color:#ddd;
    border-bottom: 8px solid red;
}
span.subst {
    border-bottom: 8px solid red;
    text-decoration:line-through;
}
span.match {
    border-bottom: 8px solid lightgreen;
}

td.eval {
    white-space:normal;
}

td.eval span {
    padding:1px;
}

table.history {
    border-collapse: collapse;
    width:100%;
    border:3px solid #33ffff;
    margin:0.5em;
}

tr.odd {
    background: #33ffff;
}

tr.dist0 {
    font-size: 250%;
}

tr.dist1 {
    font-size: 250%;
}

tr.dist1 td {
    padding-bottom:1em;
}

tr.dist2 {
    font-size: 200%;
}

tr.dist2 td {
    padding-bottom:1em;
}

tr.dist3 {
    font-size: 200%;
}

tr.dist3 td {
    padding-bottom:1em;
}

tr.dist4 {
    font-size: 100%;
}

tr.dist4 td {
    padding-bottom:1em;
}

tr.distn {
    font-size: 90%;
}

tr.distn td {
    padding-bottom:0.75em;
}

td.answer {
    text-align:left;
}

tr.distn span.insert {
    border-bottom: 2px solid red;
}

tr.distn span.delete {
    border-bottom: 2px solid red;
}
tr.distn span.subst {
    border-bottom: 2px solid red;
}
tr.distn span.match {
    border-bottom: 2px solid lightgreen;
}

span.delete {
    color:#ddd;
    border-bottom: 8px solid red;
}
span.subst {
    border-bottom: 8px solid red;
    text-decoration:line-through;
}
span.match {
    border-bottom: 8px solid lightgreen;
}
div.click {
    border: 3px solid lightgreen;
    background: green;
    color: lightgrey;
    padding: 3px;
    width:auto;
    float:left;
}

div.click:hover {
    background: white;
    color: darkgrey;
}

/* firefox says "unknown pseudo-class or pseudo-element" */
/*div.click:blur {
    background: green;
    color: lightgrey;
}*/

table.test td {
    border:1px dashed green;
    padding-top:0.25em;
    padding-bottom:0.25em;
}

div#ajax_question {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:0.25em;
    margin:0.25em;
    float:left;
    border:1px solid #ddd;
    background:#66ffff;
}

div#question_text {
    border:0px dashed green;
}

#question_id {
    display:none;
    border:2px dashed green;
    background:#ccc;
}

#ajax_quiz {
}

#quiz_table {
}

span.qtype {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:small;
    border:#00cc00;
    background:lightblue;
    padding:0.25em;
    padding-top:0.125em;
    padding-bottom:0.125em;
}

span.remove {
    font-size:small;
    font-weight:lighter;
}

/* feature structures (from fs.css@ef61fc6) */
table.map {
    background: white;
    border: 2px solid lightgreen;
}

table.map th {
    background: lightgreen;
    border: 2px solid lightgreen;
}

div.legend {
    border: 2px solid lightblue;
}
