#tourgameform {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    float:right;
    background:ivory;
    position:absolute;
    right:10px;
    top:100px;
    padding:0.5em;
    width:35%;
    margin-right:1em;
    opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
}

#streetview {
    position:absolute;
    left:80px;
    top:50px;
}

#tourgameform form input[type="text"] {
    text-transform: lowercase;
}

#correctanswer {
    font-size:200%;
    position:absolute;
    left:40%;
    top:10%;
    white-space:nowrap;
    display:none;
    border-radius: 5px;
    border:2px solid darkgrey;
    background: lightgreen;
    z-index:10;
}

button#non_lo_so {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float:right;
  font-size: 14px;
  background: #08ba02;
  padding-top:0.125em;
  padding-bottom:0.125em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.accents {
    padding:0.25em;
    margin:0.25em;
    width:auto;
    float:left;
}

button.accented {
    margin:1px;
}

#userprogresscontainer {
    margin:4px;
    float:left;
    padding:2px;
    font-size:200%;
    width:100%;
    height:1em;
    border-radius: 5px;
    color: transparent;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid green;
}

#userprogress {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:0px solid lightgreen;
    background:lightgreen;
    height:100%;
    width:0%;
}

#tourquestion {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    white-space:nowrap;
    text-align:center;
    width:75%;
    margin-left:12%;
    padding:2px;
    border:1px solid red;
    background:lightgreen;
}

#tourgameform input {
    margin:0.5em;
    font-size:150%;
}

#map {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#navigation {
    display:none;
}

#non_so {
    white-space:nowrap;
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

#non_so:hover {
    background-color:#5cbf2a;
}

#non_so:active {
    position:relative;
    top:1px;
}

#kilos {
    border-radius:8px;
    padding:1px;
    width:10em;
    float:right;
    position:absolute;
    top:75%;
    left:75%;
    border:2px solid lightblue;
    background:ivory;
    color:green;
    z-index:2;
}

#gameinputdiv {
    float:left;
    width:95%;
    margin-left:5%;
}

/* position of elements are relative to the background (the map).*/
div#menubar {
    z-index:5;
    position:absolute;
    top:1%;
    font-size:smaller;
    left:75%;
    padding:0;
    margin:0;
    opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
}

div#menubar div {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

