#tourgameform {
    position:absolute;
    padding:1em;
    float:left;
    top:25%;
    left:45%;
    width:auto;
    border:0px dashed green;
}

#tourgameform form input[type="text"] {
    text-transform: lowercase;
}

#correctanswer {
    display:none;
}

#userprogresscontainer {
    margin-top:0.25em;
    font-size:200%;
    width:10em;
    height:0.5em;
    border-radius: 5px;
    color: transparent;
    border:1px solid lime;
}


#userprogress {
    border-radius: 5px;
    background:lime;
    height:0.5em;
    width:0%;
}
